name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Setup Rust
        run: |
          rustup toolchain install stable
          rustup default stable
          rustup component add clippy rustfmt

      - name: Check dependencies
        uses: EmbarkStudios/cargo-deny-action@v2

      - name: Install dependencies
        run: cargo build --verbose

      - name: Run Clippy (Linting)
        run: cargo clippy -- -D warnings

      - name: Check formatting
        run: cargo fmt -- --check

      - name: Run tests
        run: cargo test --verbose
